*.class
classes
*.pyc
__pycache__

# Package Files #
#*.jar
*.war
*.ear
*.zip
*.log
# 测试产生的文本文件
*.test.txt

hs_err_pid*

.vscode
.gradle
.idea
build
.DS_Store
out
*.out
log
product
excel
.settings
bin
.classpath
.project
target
*.egg

*.xlsx
*.iml

__pycache__
*.egg-info
